#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
	<script>
		$(document).ready(function(){
			$("#avance").addClass("active");
		});
	</script>

</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "alumno/header.vm" )
		</div>

		<div class="master-content">


			<h1>Avance curricular de $alumno.nombre</h1>
			<h2>$alumno.carrera.nombre</h2>
			
			#if($alumno.matriculas.empty)
				<div> No hay avance curricular</div>
			#else
			<table class="table table-hover">
				<tr>
					<th>Curso</th>
					<th>Creditos</th>
					<th>Estado</th>
					<th>Nota final</th>
				</tr>
				#foreach($matricula in $alumno.matriculas)
				#set ($promedio=0)
				#foreach($nota in $matricula.notas)
					#set ($promedio= $promedio+$nota.nota*$nota.categoria.peso)
				#end
				<tr>
					<td>$matricula.cursoDictado.curso.nombre</td>
					<td>$matricula.cursoDictado.curso.creditos</td>
					<td>$matricula.estado</td>
					<td>$promedio</td>
				</tr>
				#end
			</table>
			#end


		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>