<div class="header-title"><img src="http://ucsp.edu.pe/lars2013/wp-content/uploads/2013/02/ucsporg.png" class="img-responsive"></div>

<ul class="nav nav-pills nav-justified">
	<li class="active">
		<a href="/Portal-Academico/">Home</a>
	</li>
	<li>
		<a href="/Portal-Academico/alumno/details.html">Datos</a>
	</li>
	<li>
		<a href="/Portal-Academico/alumno/horario.html">Horario</a>
	</li>
	<li>
		<a href="/Portal-Academico/alumno/cursos.html">Cursos</a>
	</li>
	<li>
		<a href="/Portal-Academico/alumno/avance_curricular.html">Avance</a>
	</li>
	<li>
		<a href="/Portal-Academico/alumno/matricula.html">Matricularse</a>
	</li>
	<li>
		<a href="/Portal-Academico/j_spring_security_logout">Logout</a>
	</li>
</ul>