#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "alumno/header.vm" )
		</div>

		<div class="master-content">
			<h1>Alumno Home</h1>
			Bienvenido $alumno.nombre $alumno.apellido
		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>