#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "alumno/header.vm" )
		</div>

		<div class="master-content">
			#if($alumno.empty)
				<div> No hay alumnos registrados</div>
				<a href="add.html">Agregar Nuevo</a>
			#else
				<table class="table table-hover">
				<tr><th>Alumno</th><th>Notas</th><th>Avance curricular</th><th>Ver horario</th></tr>
				#foreach($alumno in $alumnos)
					<tr>
						<td><a href="${alumno.id}/details.html">$alumno.nombre $alumno.apellido</a></td>
						<td><a href="${alumno.id}/notas.html">Ver notas</a></td>
						<td><a href="${alumno.id}/avance_curricular.html">Ver avance</a></td>
						<td><a href="${alumno.id}/horario.html">Ver horario</a></td>
						
					</tr>
				#end
				</table>
			#end
			<a href="add.html"><button class="btn btn-default" type="button">Agregar nuevo alumno</button></a>
		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>
