#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "alumno/header.vm" )
		</div>

		<div class="master-content">
			<h1>Notas de $alumno.nombre</h1>
			#if($alumno.matriculas.empty)
				<div> No hay notas registradas</div>
			#else
			<ul>
				#foreach( $matricula in $alumno.matriculas )
				<li> $matricula.cursoDictado.curso.nombre
					<ul>
					#foreach( $nota in $matricula.notas )
						<li> $nota.categoria.nombre $nota.nota </li>
					#end
					</ul>
				</li>
				#end
			</ul>
			#end
		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>

