<html>
<body>
	<a href="../list.html">Ver todos</a>
	<br /><br />
	<table>
		<tr>
			<td><b>Id:</b></td>
			<td>$malla.id<td>
		</tr>
		<tr>
			<td><b>Descripcion :</b></td>
			<td>$malla.descripcion<td>
		</tr>
		<tr>
			<td><b>Fecha:</b></td>
			<td>$malla.fecha<td>
		</tr>
		<tr>
			<td><b>Vigencia :</b></td>
			<td>$malla.vigencia<td>
		</tr>
	</table>
	<br />
	<a href="edit.html">Modificar</a>
</body>
</html>