<html>
<body>
	<a href="../list.html">Ver todos</a>
	<br /><br />
	<table>
		<tr>
			<td><b>Id:</b></td>
			<td>$carrera.id<td>
		</tr>
		<tr>
			<td><b>Nombre :</b></td>
			<td>$carrera.nombre<td>
		</tr>
	</table>
	<br />
	<a href="edit.html">Modificar</a>
</body>
</html>