#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
	<script>
		$(document).ready(function(){
			$("#periodos").addClass("active");
		});
	</script>
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "admin/header.vm" )
		</div>

		<div class="master-content">
	
			<form class="form-horizontal" role="form" action="#springUrl("/admin/save_periodo.html")" method="POST">

				<input type="hidden" name="id" value="$!periodo.id" />

				<div class="form-group">
					<label class="col-sm-2 control-label">Nombre:</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" name="nombre" value="$!periodo.nombre"/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Fecha inicio:</label>
					<div class="col-sm-10">
						<input class="form-control" type="date" name="fecha_inicio" value="$!periodo.fecha_inicio"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Fecha fin:</label>
					<div class="col-sm-10">
						<input class="form-control" type="date" name="fecha_fin" value="$!periodo.fecha_fin"/>
					</div>
				</div>


			  	##foreach($error in $status.errorMessages) <b>$error</b> <br> #end
			  	<div class="form-group">
			            <div class="col-sm-offset-2 col-sm-10">
			            	<button type="submit" class="btn btn-default">Guardar</button>
			            </div>
		    	</div>
			</form>


		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>

