#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
	<script>
		$(document).ready(function(){
			$("#docentes").addClass("active");
		});
	</script>
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "admin/header.vm" )
		</div>

		<div class="master-content">
			<a href="add_docente.html"><button type="button" class="btn btn-default">Nuevo</button></a>
			<br><br>
			#if($docentes.empty)
				<div> No hay docentes registrados</div>
			#else
				<table class="table table-hover">
					<tr>
						<th>Docente</th>
						<th>Cursos</th>
						<th>Eliminar</th>
					</tr>
				#foreach($docente in $docentes)
					<tr>
						<td><a href="${docente.id}/edit_docente.html">$docente.nombre $docente.apellido</a></td>
						<td><a href="${docente.id}/cursos.html">Ver cursos</a></td>
						<td><a href="$docente.id/remove_docente.html" 
							onclick="return confirm('Eliminar a $docente.nombre $docente.apellido?');">Eliminar</a></td>
					</tr>
				#end
				</table>
			#end
			


		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>

