#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
	<script>
		$(document).ready(function(){
			$("#periodos").addClass("active");
		});
	</script>
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "admin/header.vm" )
		</div>

		<div class="master-content">
			<a href="add_periodo.html"><button type="button" class="btn btn-default">Nuevo</button></a>
			<br><br>
			#if($periodos.empty)
				<div> No hay periodos registrados</div>
			#else
				<table class="table table-hover">
					<tr>
						<th>Periodo</th>
						<th>Inicio</th>
						<th>Fin</th>
						<th>Eliminar</th>
					</tr>
				#foreach($periodo in $periodos)
					<tr>
						<td><a href="$periodo.id/edit_periodo.html">$periodo.nombre</a></td>
						<td>$periodo.fecha_inicio</td>
						<td>$periodo.fecha_fin</td>
						<td><a href="$periodo.id/remove_periodo.html" 
							onclick="return confirm('Eliminar $periodo.nombre?');">Eliminar</a></td>
					</tr>
				#end
				</table>
			#end
			


		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>

