#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "docente/header.vm" )
		</div>

		<div class="master-content">

		<h1>$docente.nombre</h1>
		<h2>Cursos Dictados</h2>
		#if($cursosDictados.empty)
			<div> No hay alumnos registrados</div>
		#else
		<table class="table table-hover">
			<tr>
				<th>Curso</th>
				<th>Alumnos</th>
			</tr>
			#foreach($curso in $cursosDictados)
				<tr>
					<td>$curso.curso.nombre</a></td>
					<td><a href="${curso.id}/alumnos.html">Ver alumnos</a></td>
				</tr>
			#end
		</table>
		#end
		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>