<div class="header-title"><img src="http://ucsp.edu.pe/lars2013/wp-content/uploads/2013/02/ucsporg.png" class="img-responsive"></div>

<ul class="nav nav-pills nav-justified">
	<li class="active">
		<a href="/Portal-Academico/">Home</a>
	</li>
	<li>
		<a href="/Portal-Academico/admin/alumnos.html">Alumnos</a>
	</li>
	<li>
		<a href="/Portal-Academico/docente/list.html">Docentes</a>
	</li>
	<li>
		<a href="/Portal-Academico/j_spring_security_logout">Logout</a>
	</li>
</ul>