<div class="header-title"><img src="http://ucsp.edu.pe/lars2013/wp-content/uploads/2013/02/ucsporg.png" class="img-responsive"></div>

<ul class="nav nav-pills nav-justified">
	<li class="active">
		<a href="/Portal-Academico/">Home</a>
	</li>
	<li>
		<a href="/Portal-Academico/docente/${docente.id}/details.html">Ver Datos</a>
	</li>
	<li>
		<a href="/Portal-Academico/docente/${docente.id}/horario.html">Ver Horario</a>
	</li>
	<li>
		<a href="/Portal-Academico/docente/${docente.id}/cursos.html">Ver Cursos</a>
	</li>
	<li>
		<a href="/Portal-Academico/j_spring_security_logout">Logout</a>
	</li>
</ul>