<html>
<body>
#if($docente.empty)
	<div> No hay docentes registrados</div>
	<a href="add.html">Agregar Nuevo</a>
#else
	<ul>
	#foreach($docente in $docentes)
		<li><a href="${docente.id}/details.html">$docente.nombre $docente.apellido</a></li>
	#end
	</ul>
#end
<a href="add.html">Agregar nuevo docente</a>
</body>
</html>