#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "master-header.vm" )
		</div>

		<div class="master-content">
			
			<h1>Portal Academico</h1>
			<p>
				Bienvenido al portal academico de la Univesidad Catolica
				San Pablo. Aqui encontraras informacion relacionada con
				tu carrera universitaria si eres un alumno. Si eres un 
				profesor, tendras la posibilidad de manejar todas tus notas
				y cursos de forma on-line. Y si eres un administrativo
				podras manejar toda la informacion relevante para la 
				universidad.				
			</p>
	        <p>
	            <a href="signin" th:href="@{signin}" class="btn btn-large btn-success">Sign in</a>
	        </p>

		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>