#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "master-header.vm" )
		</div>

		<div class="master-content">
			
			<h1>Portal Academico</h1>
	        <p>
	            <a href="signin" th:href="@{signin}" class="btn btn-large btn-success">Sign in</a>
	        </p>

		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>