<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Portal Academico</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="hero-unit">
        <h1>Portal Academico</h1>
        <p>
            Home
        </p>
        <p>
            <a href="signin" th:href="@{signin}" class="btn btn-large btn-success">Sign in</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 Ingenieria de Software II</div>
</div>
</body>
</html>