<div class="header-title"><img src="http://ucsp.edu.pe/lars2013/wp-content/uploads/2013/02/ucsporg.png" class="img-responsive"></div>

<ul class="nav nav-pills nav-justified">
	<li class="active">
		<a href="#">Home</a>
	</li>
	<li>
		<a href="#">Asistencias</a>
	</li>
	<li>
		<a href="/Portal-Academico/alumno/list.html">Lista de alumnos</a>
	</li>
	<li>
		<a href="#">Horario</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Cursos
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Ing. Software</a></li>
			<li><a href="#">E.D.A.</a></li>
			<li><a href="#">Sistemas Operativos</a></li>
		</ul>
	</li>
</ul>