#parse( "declaraciones.vm" )
<html>
<head>
	#parse( "head.vm" )
</head>

<body>
	<div class="container">

		<div class="master-header">
			#parse( "master-header.vm" )
		</div>

		<div class="master-content">

			<form class="form-narrow form-horizontal" action="auth.html" method="post"}">
			    <th:block th:if="${param.error} != null">
			        <div th:replace="fragments/alert :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
			    </th:block>
			    <fieldset>
			        <legend>Sign In</legend>
			        <div class="form-group">
			            <label for="inputEmail" class="col-lg-2 control-label">Usuario</label>
			            <div class="col-lg-10">
			                <input type="text" class="form-control" id="inputEmail" placeholder="Usuario" name="username" />
			            </div>
			        </div>
			        <div class="form-group">
			            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
			            <div class="col-lg-10">
			                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" />
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-lg-offset-2 col-lg-10">
			                <button type="submit" class="btn btn-default">Sign in</button>
			            </div>
			        </div>
			        <div class="form-group">
			            <div class="col-lg-offset-2 col-lg-10">
			                <a href="/Portal-Academico" th:href="@{/Portal-Academico}">Back to home</a></p>
			            </div>
			        </div>
			    </fieldset>
			</form>

		</div>

		<div class="master-footer">
			#parse( "master-footer.vm" )
		</div>
	</div>

</body>
</html>




